#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-brand__name a {
  font-size: 13px;
}
#header2-0 P {
  color: #2c2c2c;
}
#header2-0 H1 {
  color: #ffffff;
}
#menu-p .mbr-brand__name {
  font-size: 16px;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-p .mbr-brand__name a {
  font-size: 13px;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .mbr-brand__name a {
  font-size: 13px;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-brand__name a {
  font-size: 13px;
}
#image2-h SMALL {
  text-align: center;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-brand__name a {
  font-size: 13px;
}
#image2-i SMALL {
  text-align: center;
  color: #7c706b;
}
#image2-u SMALL {
  text-align: center;
}
#image2-z SMALL {
  text-align: center;
}
#image2-11 SMALL {
  text-align: center;
}
#image2-13 SMALL {
  text-align: center;
}
#image2-15 SMALL {
  text-align: center;
}
#image2-1c SMALL {
  text-align: center;
}
